@font-face {
  font-family: IRANSemi;
  src: url('./fonts/IRANSemiBold.eot');
  src: url('./fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/IRANSemiBold.woff') format('woff'),
       url('./fonts/IRANSemiBold.ttf') format('truetype');
  font-weight: normal;
}

body{
  background:#000 url(../assets/bg.jpg) ;
  background-size: 20%;
  font-family: IRANSemi;
}
#root{
  padding: 1%;
  width: 100%;
  height: 100vh;
  max-width: 900px;
  margin:0 auto;
  overflow: hidden;
}
#rotate{
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#rotate p{
  font-size: 110%;
  color: #fff;
  text-shadow: 3px 2px 10px rgb(6, 6, 6);
  position: absolute;
  top: 40%;
  background:rgba(255, 137, 137, 0.3);
  padding: 20px;
  border-radius: 20px;
}
@media only screen and (orientation:portrait){
  #root {
    display:none;
  }
  #rotate{
    display: flex!important;
  }
}
.toast {
  font-family: IRANSemi!important;
}
.toasts-container {
  width:100%;
  align-items: center!important;
}
.react-confirm-alert-body{
  font-family: IRANSemi!important;
  text-align: center!important;
}
.react-confirm-alert-button-group{
  justify-content: center!important;
}
#App {
  position: relative;
  clear: both;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 860px) {
  #App {
    /* width: 100%;
    min-width: 450px;
    height: 50vw;
    min-height: 280px; */
  }
}
.error{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  right:0;
  background:rgba(0,0,0,.1);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-handler {
  padding: 10px;
  border-radius: 5px;
  background: rgba(221, 94, 94, 0.56);
  box-shadow: 0px 0px 8px #030303;
  color: #fff;
}

/* Shared CSS */

.blocksUp {
  position: absolute;
  top: 0;
  height: 45%;
  width: 100%;
}

.blocksDown {
  position: absolute;
  bottom: 0;
  height: 45%;
  width: 100%;
}

.pointContainer {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-flow: column;
}

.pointContainerDown {
  flex-flow: column-reverse;
}


a:focus, a:hover {
  text-decoration: none;

}
a {
  text-decoration: none;
}

@keyframes hover-color {
  from {
    border-color: #c0c0c0; }
  to {
    border-color: #3e97eb; } }

.react-confirm-alert-overlay {
  background: rgba(98, 98, 98,0.19)!important;
}

.magic-radio,
.magic-checkbox {
  position: absolute;
  display: none; }

.magic-radio[disabled],
.magic-checkbox[disabled] {
  cursor: not-allowed; }

.magic-radio + label,
.magic-checkbox + label {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: middle; 
}
  .magic-radio + label:hover:before,
  .magic-checkbox + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; }
  .magic-radio + label:before,
  .magic-checkbox + label:before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #c0c0c0; }
  .magic-radio + label:after,
  .magic-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }

.magic-radio[disabled] + label,
.magic-checkbox[disabled] + label {
  cursor: not-allowed;
  color: #e4e4e4; }
  .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after,
  .magic-checkbox[disabled] + label:hover,
  .magic-checkbox[disabled] + label:before,
  .magic-checkbox[disabled] + label:after {
    cursor: not-allowed; }
  .magic-radio[disabled] + label:hover:before,
  .magic-checkbox[disabled] + label:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none; }
  .magic-radio[disabled] + label:before,
  .magic-checkbox[disabled] + label:before {
    border-color: #e4e4e4; }

.magic-radio:checked + label:before,
.magic-checkbox:checked + label:before {
  animation-name: none; }

.magic-radio:checked + label:after,
.magic-checkbox:checked + label:after {
  display: block; }

.magic-radio + label:before {
  border-radius: 50%; }

.magic-radio + label:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3e97eb; }

.magic-radio:checked + label:before {
  border: 1px solid #3e97eb; }

.magic-radio:checked[disabled] + label:before {
  border: 1px solid #c9e2f9; }

.magic-radio:checked[disabled] + label:after {
  background: #c9e2f9; }

.magic-checkbox + label:before {
  border-radius: 3px; }

.magic-checkbox + label:after {
  top: 2px;
  left: 7px;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  border-top: 0;
  border-left: 0; }

.magic-checkbox:checked + label:before {
  border: #3e97eb;
  background: #3e97eb; }

.magic-checkbox:checked[disabled] + label:before {
  border: #c9e2f9;
  background: #c9e2f9; }


  .animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .rotatePushTop {
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: rotatePushTop .4s both ease;
    -moz-transform-origin: 50% 0%;
    -moz-animation: rotatePushTop .4s both ease;
    transform-origin: 50% 0%;
    animation: rotatePushTop .4s both ease;
  }
  .rotatePullTop {
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: rotatePullTop .4s both ease;
    -moz-transform-origin: 50% 0%;
    -moz-animation: rotatePullTop .4s both ease;
    transform-origin: 50% 0%;
    animation: rotatePullTop .4s both ease;
  }
  
  @-webkit-keyframes rotatePushTop {
    to { opacity: 0; -webkit-transform: rotateX(-90deg); }
  }
  @-moz-keyframes rotatePushTop {
    to { opacity: 0; -moz-transform: rotateX(-90deg); }
  }
  @keyframes rotatePushTop {
    to { opacity: 0; transform: rotateX(-90deg); }
  }
  @-webkit-keyframes rotatePullTop {
    from { opacity: 0; -webkit-transform: rotateX(-90deg); }
  }
  @-moz-keyframes rotatePullTop {
    from { opacity: 0; -moz-transform: rotateX(-90deg); }
  }
  @keyframes rotatePullTop {
    from { opacity: 0; transform: rotateX(-90deg); }
  }
  